div {
    color: white;
}

.servicesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topSpacer {
    height: min(150px,max(10vh,12.5vw));
}

.promoImages {
    display: flex;
    border: 1px solid white;
    margin: 0;
    height: 25vh;
    width: min(88vw,900px);
    margin: 0 auto;
}

.promo {
    background-position: center 10%;
}

.hilaPromo {
    background-position: 69% 25%;
    background-size: 150% !important;
}

.promoImages div {
    background-image: url("/images/portraits.jpg");
    width: 100%;
    height: 100%;
    margin: 0 1vw;
    margin-top: 0;
    background-size: cover;
}

.serviceSelectContainer {
    max-width: 90vw;
    margin: 2.5vh auto;
    align-items: center;
    display: flex;
    color:white;
    justify-content: center;
    gap: 20px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0.3em 0.5em;
    text-align: center;
}

.serviceSelectContainer > div {
        padding: 5px;
            border-radius: 10px;
            margin: 3px 0px;

}

.serviceSelectContainer > div:hover {
    background: rgba(255,255,255,0.1);
    cursor: grab;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}

.selectedPackageTopic {
    display: flex;
    background-color: white;
    color: black;
    margin: 0 auto;
}

.selectedPackageTopic:hover {
    pointer-events: none;
}

.servicePackageSelectContainer {
    margin: 0 auto;
    /* border: 2px solid white; */
    width: clamp(100px,95vw,700px);
    height: 30vh;
    border-radius: 30px;
    display: flex;
}

.package {
    width: 33%;
    text-align: center;
    border: 1px solid white;
    padding: 1ch;
    border-radius: 10px;
    margin: 10px;
}

.package > h2 {
    font-size: clamp(16px, 2em, 1vw);
}

.package > p {
    font-weight: 200;
        font-size: clamp(8px, 1em, 2vw);
}

.package > h3 {
    font-weight: 700;
            font-size: clamp(12px, 1.17em, 2vw);

}