
* {
    box-sizing: border-box;
font-family: "Montserrat", sans-serif;
font-weight: 700;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
        background: rgb(10, 10, 10);


}

.pageContainer {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1190px;

}

.menuContainer {
    position: absolute;
    height: 3.5rem;
        display: flex;
    width: 90%; 
    margin-top: 5%;   
    justify-items: center;
    right: 50%;
    transform:translateX(50%);
}
.menuContainer > ul {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

ul > li {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    color: white;
    margin: 10px;
}

ul > li { 
background: rgba(10,10,10,0.75);
border: 1px solid rgba(255,255,255,0.1);
backdrop-filter: blur(10px);
border-radius: 6px;
box-shadow: none;
color: #f4f4f4;
font-weight: 500;

}

b {
    text-align: center;
}

ul > li {
  /* background-color: rgba(255, 255, 255, 0.0272);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.836);
  backdrop-filter: blur(3px);
  border-radius: 10px; */

}

li:hover {
    /* background-color: rgba(255, 217, 0, 0.575); */
    background: rgba(255,255,255,0.1);
    cursor: grab;
    transition: background-color 0.5s ease-in-out;
}

.mainContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 7fr 0.25fr 4.5fr ;
}

.divider {
    background-color: black;
}
.typesSection {
    display: flex;
    flex: 0 0 0.33
}

.typesSection > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    color: rgba(255, 255, 255, 0.336);
    font-size: 2em;
    letter-spacing: 2px;
    text-align: center;
}

.typesSection > div > b {
    position: absolute;
    top: 75%;
}

.imageBox::after {
      pointer-events: none; /* 👈 this fixes it */
        background-color: rgba(255, 255, 255, 0); /* transparent */


}

.typesSection > div:hover::after {
    cursor: pointer;
    content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.25);
  transition: background-color 0.5s;
}

@media (min-width:500px) {
    .typesSection > div {
        background-position-y: 15% !important;
        background-color: green;
    }
}